@font-face{
  font-family: 'MN_Lon2';
  src: url('../font/MN_Lon2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Creepster';
  src: url('../font/Creepster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  line-height: 1.6;
  background-image: url('../resources/Background.jpg') !important;
  background-size: cover;
  background-position: center;
}

#navbrand {
  font-family: 'Creepster';
  color: #CE642A;
  font-size: 2em;
}

#navMenu {
  font-family: 'Creepster';
  font-size: 1.5em;
}

#dropdown-item {
  font-size: 0.9em;
}



footer {
  background-color: #201D20;
  height: 30%;
  padding: 30%;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease;
}

.social-icons i:hover {
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}

.footbar {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: Athiti;
}

.footbar a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}

.footbar a:hover {
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}



h1 {
  font-family: 'Creepster';
}

.Area {
  font-family: 'MN_Lon2';
  font-size: 80px;
  text-align: left;
  background-image: url('../resources/festival-ambiance-4.jpg');
  color: white;
}

.Caption {
  display: flex;
}

.Caption .left {
  background-color: #5e4457;
  color: white;
  font-family: 'MN_Lon2';
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 35px;
  font-size: 20px;
  font-size: 1.5em;
}

.Caption .right1 {
  width: 100%;
  background-image: url('../resources/booth-1-owner.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Caption .right2 {
  width: 100%;
  background-image: url('../resources/booth-2-owner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Caption .right3 {
  width: 100%;
  background-image: url('../resources/booth-3-owner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.Caption .right4 {
  width: 100%;
  background-image: url('../resources/booth-4-owner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.list {
  font-family: 'Creepster';
  font-family: 'MN_Lon2';
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-items: center;
}

.list1 {
  display: flex;
  width: 220px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
}

.list1 img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}
#item-card{
  cursor: pointer;
}
#item-card:hover{
  transform: scale(1.02);
}