@font-face{
  font-family: 'MN_Lon2';
  src: url('../font/MN_Lon2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Creepster';
  src: url('../font/Creepster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  padding-top: 80px;
  line-height: 1.6;
  background-image: url('../resources/Background.jpg') !important;
  background-size: cover;
  background-position: center;
}

#navbrand {
  font-family: 'Creepster';
  color: #CE642A;
  font-size: 2em;
}

#thai-brand{
  font-family: 'MN_Lon2';
  font-size: 1.5em;
}

#navMenu {
  font-family: 'Creepster';
  font-size: 1.5em;
}

#dropdown-item {
  font-size: 0.9em;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icons a {
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease;
}

.social-icons i:hover {
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}

h1 {
  font-family: 'Creepster';
}

.Area-wrapper {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
}

.headline-text {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 5;

  font-family: 'MN_Lon2';
  font-size: 80px;
  color: white;
  text-shadow: 3px 3px 10px black;}

.purple-box {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 5;

  background: #5e4457;  
  padding: 25px 30px;
  border-radius: 12px;

  color: white;
  font-family: 'MN_Lon2';
  font-size: 24px;
  line-height: 1.3em;
}

.purple-box p {
  margin: 0;
}

.bg-image1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../resources/booth-1-owner.webp');
  background-size: cover;
  background-position: center;
  z-index: 1;}

.bg-image2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../resources/booth-2-owner.jpg');
  background-size: cover;
  background-position: center;
  z-index: 1;}

  .bg-image3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../resources/booth-3-owner.png');
  background-size: cover;
  background-position: center;
  z-index: 1;}

  .bg-image4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../resources/booth-4-owner.jpeg');
  background-size: cover;
  background-position: center;
  z-index: 1;}

.list {
  font-family: 'Creepster';
  font-family: 'MN_Lon2';
  text-align: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 30px;
  justify-items: center;
  align-content: center;
}

.list1 {
  display: flex;
  width: 220px;
  padding: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 10px;
  border-radius: 8px;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 30px;
}

.list1 img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}
#item-card{
  cursor: pointer;
}
#item-card:hover{
  transform: scale(1.02);
}

.footer-custom {
  background-color: #201D20;
  padding: 40px 0;
  width: 100%;
  text-align: center;}
