@font-face{
  font-family: 'MN_Lon2';
  src: url('../font/MN_Lon2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Creepster';
  src: url('../font/Creepster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body{
  line-height: 1.6;           
  background-color: #f0e1c9 !important;
}

#navbrand{
  font-family: 'Creepster';
  color:#CE642A;
  font-size: 2em;
}

#navMenu{
  font-family: 'Creepster';
  font-size: 1.5em;
}

#dropdown-item{
  font-size: 0.9em;
}

#thai-brand{
  font-family: 'MN_Lon2';
  font-size: 1.5em;
}

header{
  background-color: #211C20;
}

header h1 {
  font-family: 'Creepster';
  color: #CE642A;
  font-size: 5rem;
  text-align: center;
}

.wave{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
}

#thai{
  font-family: 'MN_Lon2';
  font-size: 7rem;
}

#stline, #ndline{
  position: relative;
}

#stline{
  transform: rotate(-5deg);
  left: -15%;
  bottom: -20px;
}

#ndline{
  transform: rotate(5deg);
  left: 15%;
  top: -30px;
}

#spider {
  align-items: center;
  width: 1000px;
  height: 150px;
  margin-bottom: 15px;
}

#register{
  font-family: 'Creepster';
  font-size: 3rem;
  color: #46394A;
}

#registerbtn {
  background-color: #CE642A;
  color: #211C20;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  transition: transform 0.2s ease;
}

#registerbtn:hover {
  transform: scale(1.15) rotate(-2deg); 
}

#pumpkin-border {
  width: 100vw;        /* ให้กว้างเท่าหน้าจอจริง */
  height: auto;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;  /* ดึงออกจากขอบ container */
  margin-right: -50vw;
  margin-top: 150px;
  display: block;
}


#about h2{
  font-family: 'Creepster';
  font-size: 3rem;
}

#about p{
  font-family: 'MN_Lon2';
  font-size: 2rem;
}

#booth h2{
  font-family: 'MN_Lon2';
  font-size: 3.5em;
  color: #CE642A;
}

#booth h4{
  font-family: 'MN_Lon2';
  font-size: 2.5em;
}

#booth h5{
  font-family: 'MN_Lon2';
  font-style: italic;
  font-size: 1.5em;
}

.booth-info .img {
  display:flex;
  justify-content: center;
  align-items: center;
}

.booth-pic {
  position: relative;
  width: 900px;
  height: 600px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);
  cursor: pointer;
}

.booth-pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.6s ease;
}

.booth-pic img:nth-child(1) {
  opacity: 1;
}

.booth-picr:hover img:nth-child(1) {
  animation: boothSlide1 3s infinite;
}
.booth-pic:hover img:nth-child(2) {
  animation: boothSlide2 3s infinite;
}
.booth-pic:hover img:nth-child(3) {
  animation: boothSlide3 3s infinite;
}

@keyframes boothSlide1 {
  0%, 33% { opacity: 1; }
  34%, 100% { opacity: 0; }
}
@keyframes boothSlide2 {
  0%, 33% { opacity: 0; }
  34%, 66% { opacity: 1; }
  67%, 100% { opacity: 0; }
}
@keyframes boothSlide3 {
  0%, 66% { opacity: 0; }
  67%, 100% { opacity: 1; }
}


#dev-team{
  font-size: 2em;
}

.team{
  font-family: 'MN_Lon2';
  font-size: 2em;
}

.team h2{
  text-align: center;
}

.team-list{
  padding-top: 1.5em;
}

footer{
  background-color: #201D20;
  height: 30%;
  padding: 30%;

}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-icons a{
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease;
}
.social-icons i:hover{
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}
.footbar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: Athiti;
}
.footbar a{
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}
.footbar a:hover{
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}

html {
  scroll-behavior: smooth;
}