@font-face{
  font-family: 'MN_Lon2';
  src: url(/font/MN_Lon2.ttf);
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Creepster';
  src: url(/font/Creepster-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Creepster&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media(max-width: 768px){
  .row{
    flex-direction: column;
    align-items: center;
  }
  .name{
    width: 90%;
  }
}
body{
  line-height: 1.6;  
}
#navbrand{
  font-family: 'Creepster';
  color:#CE642A;
  font-size: 2em;
}
#navMenu{
  font-family: 'Creepster';
  font-size: 1.5em;
}
#thai-brand{
  font-family: 'MN_Lon2';
  font-size: 1.5em;
}
.register-container{
  text-align: center;
  height: 750px;
}
.register-container h1{
  font-family: Creepster;
  font-size: 3em;
  margin: 50px;
}
.register{
  margin: 30px;
  width: 90%;
}
.register legend{
  margin: 10px;
  margin-bottom: 50px;
  font-family: Creepster;
  font-size: 4.0em;
}
.form-container{
  border-radius: 30px;
  margin: 15px;
  box-shadow: 10px 10px 20px black;
  background-color: #CE642A;
}
form label{
  font-family: Creepster;
  font-size: 1.5em;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col{
  flex: 1 1 30%;
  padding: 20px;
  min-width: 250px;
}
#nickname input{
  width: 40%;
}
form input{
  border: none;
  width: 80%;
  padding: 10px 10px;
  transition: all 0.3s ease;
  border-radius: 30px;
}
form input:focus{
  outline: none;
  border: none;
  box-shadow: 5px 5px 10px #ff9c2b;
  transition: 0.2s;
  border-radius: 30px;
}
form input:hover{
  box-shadow: 5px 5px 20px #ff9c2b;
  transform: scale(1.05);
}
form button{
  border: none;
  border-radius: 20px;
  background-color: rgba(93, 31, 98, 0.671);
  font-size: 25px;
  font-family: Creepster;
  padding: 5px 30px;
  cursor: pointer;
  transition: 0.3s ease;
  margin: 10px;
  color: #fff;
}
form button:hover{
  background-color: rgba(93, 31, 98, 0.671);
  transform: scale(1.1);
  box-shadow: 0 0 20px #ff9c2b;
  color: #fff;
}
footer{
  background-color: #201D20;
  height: 30%;
  padding: 30%;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-icons a{
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease;
}
.social-icons i:hover{
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}
.footbar{
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
  font-family: Athiti;
}
.footbar a{
  text-decoration: none;
  color: #ffffff;
  transition: all 0.2s ease;
}
.footbar a:hover{
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}