@font-face{
  font-family: 'MN_Lon2';
  src: url('../font/MN_Lon2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Creepster';
  src: url('../font/Creepster-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@200;300;400;500;600;700&family=Bebas+Neue&family=Creepster&family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@media(max-width: 768px){
  .row{
    flex-direction: column;
    align-items: center;
  }
  .name{
    width: 90%;
  }
}
body{
  padding-top: 90px;
  line-height: 1.6;
  overflow-x: hidden; 
}
#navbrand{
  font-family: 'Creepster';
  color:#CE642A;
  font-size: 2em;
}
#navMenu{
  font-family: 'Creepster';
  font-size: 1.5em;
}
#thai-brand{
  font-family: 'MN_Lon2';
  font-size: 1.5em;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  flex-wrap: wrap;
  overflow: hidden;
  background-repeat: no-repeat;
  z-index: 1;
}

.show-list {
  font-family: 'Creepster';
  color: #CE642A;
  max-width: 370px;
  font-size: 1.3em;
}

.register-box{
  border-radius: 5px;
  box-shadow: 3px 5px 5px 3px;
  margin: 30px;
  background: #000000d2;
}
.register-content{
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-content h2{
  font-family: Creepster;
  font-size: 2.5em;
  margin-top: 10px;
  color: #CE642A;
  font-weight: bold;
}
.register-content h4{
  font-family: Creepster;
  font-size: 1.5em;
  color: #CE642A;
  font-weight: bold;
}
.form-box{
  width: 90%;
  padding: 15px;
}
.form-box form{
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: stretch;
}
.form-box input{
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-bottom: 1px solid #aaa;
  border-right: none;
  color: #aaa;
  font-size: 1em;
  padding: 5px;
}
.form-box input::placeholder{
  color: #aaa;
  font-style: italic;
  letter-spacing: 1px;
  font-size: 1em;
  padding: 5px;
}
.form-box input:focus{
  border: none;
  outline: none;
  transition: transform 0.3s ease;
  border: 1px solid #ff7b00;
  box-shadow: 0 1px 4px #ff7b00;
}

.form-box .submit{
  display: flex;
  justify-content: center;
  padding: 10px;
}
.form-box button{
  background: #CE642A;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  padding: 5px 25px;
  font-family: Creepster;
  font-size: 1.5em;
}
.form-box button:hover{
  background: #ff7b00;
}
.form-box button:focus{
  transform: scale(1.05);
}
.thx-wrap{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  padding: 30px;
  transition: transform 0.4s ease;
  z-index: 1000;
  width: 90%;
  max-width: 500px;
  padding: 50px;
}
.thx-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background: none;
}
.thx-box h2{
  font-family: Creepster;
  font-size: 5em;
  font-weight: bold;
  color: rgb(190, 12, 12);
}
.link{
  display: flex;
  gap: 30px;
}
.thx-box a{
  text-decoration: none;
  color: rgb(190, 12, 12);
  font-family: Creepster;
  font-size: 1.5em;
  font-weight: lighter;
}
.thx-box a:hover{
  text-shadow: 0 0 15px rgb(255, 0, 0);
  transform: scale(1.05);
}
.thx-box button{
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 2em;
  color: rgb(190, 12, 12);
  cursor: pointer;
  font-family: 'Creester', cursive;
  transition: all 0.3s ease;
  z-index: 10;

}
.thx-box button:focus{
  transform: scale(1.05);
  text-shadow: 0 0 15px rgb(255, 0, 0);
}

.thx-wrap.show{
    transform: translate(-50%, -50%) scale(1);
    animation: popIn 0.5s ease, float 3s ease-in-out infinite;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(4px);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.overlay.show{
    opacity: 1;
    pointer-events: all;
}

footer{
  background-color: #201D20;
  padding: 40px 0;
  width: 100%;
  text-align: center;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 40px;
}
.social-icons a{
  text-decoration: none;
  color: #fff;
  font-size: 2em;
  transition: all 0.3s ease;
}
.social-icons i:hover{
  color: #ffffff;
  text-shadow: 0 0 15px #ff7b00;
  transform: scale(1.2);
}